.tooltip-container {
  /* position: relative; */
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 80%;
  /* Updated to show tooltip at the bottom */
  left: 30%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 2px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0.6;
  z-index: 2;
  width: '3rem';

}