/* Add this to your CSS */
.custom-accordion {
    /* Change the background color as needed */
    background-color: #e80000;
  }
  
  /* Optionally, you can style the accordion-button and accordion-body separately */
  .custom-accordion .uncomplete {
    /* Change the background color of the accordion header button */
    background-color: #6db8ff;
  }

  .custom-accordion .complete {
    /* Change the background color of the accordion header button */
    background-color: #68ff77;
  }
  
  .custom-accordion .body-uncomplete {
    /* Change the background color of the accordion body */
    background-color: #bde0fe;
  }
  
  .custom-accordion .body-complete {
    /* Change the background color of the accordion body */
    background-color: #e8ffea;
  }
